.bookContainer {
    padding: 1rem;
    margin: 1rem;
    width: 15rem;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;

    .imageContainer {
        display: flex;
        width: 10rem;
        height: 15rem;

        .image {
            width: auto;
            height: auto;
        }
    }

    .title {
        font-style: italic;
        font-weight: 400;
        font-size: 1.5rem;
    }

}