.bookContainer {
    padding: 1rem;
    width: 15rem;

    .imageContainer {
        display: flex;
        width: 10rem;
        height: 15rem;

        .image {
            width: auto;
            height: auto;
        }
    }

    .title {
        font-style: italic;
        font-weight: 400;
        font-size: 1.5rem;
    }

}