.homeContainer {

    .bookSection {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .booksFound {
        margin: 2rem;
        font-size: 1.5rem;
    }

}