.homeContainer{
    // padding: 50px;

    .booksContainer{
        margin: 30px 0px;
        min-height: 300px;
    }

    .render{
        color: white;
    }
}

.heading{
    // color: red;
    font-size: 50;
}

.loader{
    margin-top: 100px;
    color: white;
}
