.homeContainer{
    padding: 50px;

    .booksContainer{
        margin: 30px 0px;;
        min-height: 250px;
        border: 1px solid white;
    }

    .render{
        color: white;
    }
}

.heading{
    color: red;
    font-size: 50;
}
