.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #222;
    color: white;
    gap: 1rem;
    position: sticky;
    top: 0;
    z-index: 1;

    .logo {
        height: 2rem;
        width: 2rem;
    }
}